.banner {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-image: url("assets/home.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}